* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #fff;
  }

  /* Navbar */
  .navbar {
    padding: 1rem;
    /* background-color: #161b22; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1f242c;
    transition: 0.5s;
  }
  .navbar:hover {
    border-bottom: 1px solid #00d8ff;
  }

  .navbar h1 {
    color: #00d8ff;
    font-size: 2rem;
    margin-left: 5rem;
  }

  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .navbar a:hover {
    color: #00a4d8;
  }

  /* Hero Section */
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
    gap: 2rem;
    text-align: center;
  }

  .hero .content {
    max-width: 500px;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h1 span {
    color: #00d8ff;
  }

  .hero p {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #b2becd;
  }

  .hero .download-cv {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background-color: #00d8ff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
  }

  .hero .download-cv:hover {
    box-shadow: 0 10px 50px #05d4f9;
  }

  .hero .profile-image {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(135deg, #00d8ff, #000);
    overflow: hidden;
    border: 5px solid #00d8ff;
    box-shadow: 0 0 15px #00d8ff;
    transition: box-shadow 0.3s;
  }

  .hero .profile-image:hover {
    box-shadow: 0 0 70px #00d8ff;
  }

  .hero .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  /* Projects Section */
  .projects-section {
    padding: 4rem 2rem;
    text-align: center;
  }

  .projects-section h2 {
    font-size: 2rem;
    color: #00d8ff;
    margin-bottom: 2rem;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .project-card {
    background-color: #1f1f1f;
    padding: 1.5rem;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

  .project-card h3 , p {
    color: #00d8ff;
    margin-bottom: 1rem;
  }

  .project-card a {
    text-decoration: none;
    color: #fff;
    background-color: #00d8ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .project-card a:hover {
    background-color: #00a4d8;
  }

  /* Contact Section */
  .contact-section {
    padding: 4rem 2rem;
    text-align: center;
  }

  .contact-section h2 {
    font-size: 2rem;
    color: #00d8ff;
    margin-bottom: 2rem;
  }

  .contact-section p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .social-icons a {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: #00d8ff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .social-icons a:hover {
    color: #00a4d8;
  }

  /* Footer */
  footer {
    background-color: #161b22;
    text-align: center;
    padding: 1rem;
    color: #b2becd;
  }

  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
    }

    .projects-container {
      flex-direction: column;
    }
  }